/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

:root {
    --bitcoin-orange: #F7931A;
    --light-bitcoin-orange: #FF9536;
    --soft-orange: #FFE9D4;
    --just-white: #fff;
    --off-white: #FAF8F7;
    --bg-gradient: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --warm-black: #201E1C;
    --light-warm-black: #282623;
    --absolute-black: #000;
    --light-gray: #B5B0AC;
    --medium-gray: #808080;
    --normal-gray: #757575;
    --dark-gray: #363636;
    --shadows: 0px 4px 8px rgba(89, 73, 30, 0.16);
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --background: #E5E5E5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    min-width: 324px;
    height: 334px;
    text-align: center;
    background: var(--bg-gradient);
}

header .header--logo {
    width: 15rem;
    height: 2.4rem;
}

.header--title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 170px;
    padding: 0 1rem;
    gap: 2.4rem;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button-container {
    position: absolute;
    bottom: -2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 4.8rem;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.header--title-container .header--button-container a {
    text-decoration: none;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--warm-black);
}

.header--title-container .header--button-container span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    background-image: url("../assets/icons/arrowDown.png");
    margin-left: 1rem;
}

main {
    min-width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 6rem 0;
    text-align: center;
    background-color: var(--background);
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('../assets/images/Bitcoin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-exchange-container h1 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
}

.main-exchange-container p {
    margin-bottom: 4.8rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--normal-gray);
}

.main-tables-container{
    width: 100%;
    height: auto;
}

.main-currency-table {
    width: 61.5%;
    min-width: 197px;
    max-width: 500px;
    min-height: 160px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    
}

.main-currency-table .currency-table--title {
    margin-bottom: 1.2rem;
    text-align: left;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--light-bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 195px;
    max-width: 300px;
    height: 100%;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    background-color: var(--just-white);
    width: 50%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--light-gray);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0px 0px 0px;
}

.currency-table--container .table__top-right {
    border-radius: 0px 15px 0px 0px;
}

.currency-table--container .table__bottom-left {
    border-radius: 0px 0px 0px 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0px 0px 15px 0px;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--normal-gray);
}

.currency-table--container .down {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/trending-down1.png);
}

.currency-table--container .up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/trending-up1.png);
}

.currency-table--date {
    background-color: var(--soft-orange);
    height: 3rem;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 1.5rem 0;
}

.currency-table--date p, b {
    color: var(--light-warm-black);
}

.main-product-detail {
    background-color: var(--warm-black);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.main-product-detail img {
    position: absolute;
    margin-top: -1.3rem;
    width: 4.5rem;
    height: auto;
}

.main-product-detail div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 6.4rem;
    gap: 2.4rem;
}

.main-product-detail div > h2 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
}

.main-product-detail div > p {
    color: var(--medium-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.product-card--container {
    width: 90%;
    margin: 3.2rem auto;
}

.product-detail--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
    width: 100%;
    height: 15rem;
    background-color: var(--light-warm-black);
    margin-bottom: 1.6rem;
    padding: 1.6rem 1.6rem 2.2rem;
    border-radius: 0.5rem;
}

.clock,
.eye,
.dollar,
.check {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.clock{
    background-image: url(../assets/icons/clock1.png);
}

.eye {
    background-image: url(../assets/icons/eye1.png);
}

.dollar {
    background-image: url(../assets/icons/dollar-sign1.png)
}

.check {
    background-image: url(../assets/icons/check-circle1.png);
}

.product-detail--card .product-card-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-detail--card .product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--medium-gray);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bitcoinbaby2x.jpg);
}

.bitcoin-img-container h2 {
    position: relative;
    top: 6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var();
    background-color: var(--background);
    padding: 6rem 0;
    gap: 3rem;
}

.main-plans-container .plans--title {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    gap: 2.4rem;
}

.main-plans-container .plans--title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.main-plans-container .plans--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--normal-gray);
}

.main-plans-container
.plans-container--slider
.plans-container--card {
    display: flex;
    flex-direction: column;
    width: 19rem;
    padding: 2.4rem 1.6rem;
    align-items: center;
    text-align: center;
    background-color: var(--just-white);
    box-shadow: var(--shadows);
    border-radius: .8rem;
}

.plans-container--card > p {
   color: var(--just-white);
   font-family: 'Inter', sans-serif;
   font-size: 1.2rem;
   font-weight: 500;
   line-height: 1.4rem;
   background-color: var(--bitcoin-orange);
   padding: .8rem;
   border-radius: .8rem;
   margin: -3.6rem 0 1.6rem;
}

.plans-container--card div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-container--card div h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.plans-container--card p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin: .8rem 0 1.6rem;
}

.plans-container--card p:nth-child(2) span {
    display: inline-block;
   font-size: 1.2rem;
}

.plans-container--card p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  margin-bottom: 1.6rem;
  color: var(--normal-gray);
}

.plans-container--card button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4.8rem;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    
}

.plans-container--card button span {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/arrow-right1.png)
}