.main-tables-container {
    align-items: center;
    margin: auto;
}


@media screen and (min-width: 930px){
    .product-card--container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 930px;
        margin: 0 auto;
    }

    .plans-container--slider {
        justify-content: center;
    }
}